<?xml version="1.0" encoding="utf-8"?>
<!--
  This configuration file is required by App Service to run your Node.js application.
  It configures IIS to proxy requests to the Node.js app running on a local port.
-->
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is a Node.js site to be handled by iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Configure IIS to proxy requests to the Node.js app -->
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node modules -->
        <rule name="NodeModules" stopProcessing="true">
          <match url="^node_modules/.*" />
          <action type="None" />
        </rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(?!.*\.json).*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="{REQUEST_URI}" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules and other directories from watching for changes -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- IIS node configuration -->
    <iisnode
      nodeProcessCommandLine="node"
      interceptor="iisnode-core.js"
      watchedFiles="web.config;*.js"
      uncFileChangesPollingInterval="5000"
      appendNodeProcessCommandLine=""
      DebuggingEnabled="false"
      devErrorsEnabled="false" />

    <!-- WebSocket support -->
    <webSocket enabled="false" />
  </system.webServer>

  <!-- Enable compression -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeSeconds="31536000" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>

  <!-- App Service specific settings -->
  <appSettings>
    <add key="NODE_ENV" value="production" />
  </appSettings>
</configuration>
